body {
  background: #fff;
}
body main {
  font-family: "Open Sans", sans-serif, Bahnschrift;
  font-weight: initial;
  height: auto;
  width: 100%;
}
body main header {
  height: auto;
  background: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto 0 auto;
}
body main header .element {
  width: 60%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
  color: #817de0;
}
body main header .element a {
  font-weight: bold;
  color: #410a78;
}
body main header .element a:active {
  color: #410a78;
}
body main .content {
  min-height: 20vh;
  width: 60%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto 0 auto;
  overflow: hidden;
}
body main .content .element {
  width: 100%;
  height: auto;
  position: relative;
  padding: 1em 0;
  margin-bottom: 1em;
  border-top: 2px solid #817de0;
  border-radius: 0;
}
body main .content .element .header {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 1em;
  gap: 0.8em;
}
body main .content .element .header .date {
  padding: 0.5em;
  border: 2px solid #817de0;
  background: #fff;
  color: #817de0;
  font-weight: bold;
  border-radius: 5px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
body main .content .element .header .date p {
  width: 100%;
  white-space: nowrap;
}
body main .content .element .share_text .color {
  color: #817de0 !important;
  font-weight: bold !important;
}
body main .content .element .share_text .dot {
  list-style: initial;
  color: red;
}
body main .content .element p {
  text-align: justify;
}
body main .content .element .img {
  background: none;
  width: 100%;
  display: flex;
  min-height: 30vh;
  height: auto;
  border-radius: 5px;
  margin-top: 1em;
  position: relative;
}
body main .content .element .img img {
  border: 1px solid rgba(199, 197, 197, 0.51);
  top: 0;
  left: 0;
  transform: translate(0, 0) scale(1);
  width: 50%;
  height: auto;
  transition: all 1s !important;
  border-radius: 5px;
  max-height: 50vh;
  object-fit: cover;
}
body main .content .element .img img[data-img=full] {
  width: 100% !important;
}
body main .content .element .footer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: auto;
  margin-top: 1em;
}
body main .content .element .footer .like {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  width: fit-content;
  border-radius: 100px;
  gap: 0.5em;
  padding: 0;
}
body main .content .element .footer .like span {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: #fff;
  border-radius: 1000px;
  padding: 0.5em;
  border: 2px solid #c7c5c5;
  gap: 0.8em;
  width: fit-content;
}
body main .content .element .footer .like span i.fa-heart {
  color: #ff5c5c;
}
body main .content .element .footer .like span i.fa-thumbs-up {
  color: #4747d8;
}
body main .content .element .footer .like span i.fa-star {
  color: #817de0;
}
body main .content .element .footer .like span:first-child {
  aspect-ratio: 1 !important;
  width: 3em !important;
}
body main .content .element .footer .like span.share--tel {
  display: none;
}
body main .content .element .footer .comment-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
body main .content .element .footer .comment-wrapper .row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0.2em;
  background: #dddddd;
  border-radius: 8px;
}
body main .content .element .footer .comment-wrapper .row label {
  width: 100%;
}
body main .content .element .footer .comment-wrapper .row label input {
  padding: 0.5em 1em;
  background: none;
  border: 0;
  width: 100%;
  outline: none;
  border-radius: 0 !important;
}
body main .content .element .footer .comment-wrapper .row label input::placeholder {
  color: #410a78;
}
body main .content .element .footer .comment-wrapper .comments {
  width: 100%;
  position: relative;
}
body main .content .element .footer .comment-wrapper .comments .comment-text {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5em;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 0.5em;
  background: #f4f4f4;
  border-radius: 5px;
  padding: 1em;
  box-shadow: 0 4px 0 0 #e1e1e1;
}
body main .content .element .footer .comment-wrapper .comments .comment-text p:not(.comment-date) {
  width: 100%;
}
body main .content .element .footer .comment-wrapper .comments .comment-text .comment-date {
  font-weight: bold;
}
body main .content .element .footer .comment-wrapper .comments .comment-text.second-comment, body main .content .element .footer .comment-wrapper .comments .comment-text.third-comment {
  position: absolute;
  bottom: -10px;
  height: 50px;
  color: #f4f4f4;
  overflow: hidden;
  transform: scale(0.95);
  transition: transform 0.5s !important;
  left: 0;
  margin-top: 0 !important;
  width: 100%;
  z-index: -1;
}
body main .content .element .footer .comment-wrapper .comments .comment-text.second-comment.unstack, body main .content .element .footer .comment-wrapper .comments .comment-text.third-comment.unstack {
  position: relative;
  transform: scale(1) !important;
  margin-top: 0.5em !important;
  color: initial !important;
  top: 0 !important;
  height: auto !important;
  overflow: initial !important;
}
body main .content .element .footer .comment-wrapper .comments .comment-text.third-comment {
  bottom: -20px;
  transform: scale(0.9);
  z-index: -2;
}
body main .content .element .footer .comment-wrapper .header_comments {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 0.5em 0 0;
  justify-content: flex-end;
  gap: 0.5em;
}
body main .content .element .footer .comment-wrapper .header_comments .number_of_element {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #fff;
  padding: 0.5em;
  border-radius: 100px;
  background: #817de096;
  gap: 0.4em;
}
body main .content .element .footer .comment-wrapper .header_comments .expand {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #fff;
  padding: 0.5em;
  border-radius: 100px;
  background: #817de0;
  width: fit-content;
  cursor: pointer;
  gap: 0.5em;
}
body main .content .element *[data-class=share] {
  position: relative !important;
  transition: all 0.2s !important;
}
body main .content .element *[data-class=share] .share-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  display: none;
  gap: 0.5em;
  background: #817de0;
  color: #fff;
  width: fit-content;
  padding: 0.5em;
  border-radius: 100px;
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  cursor: pointer;
}
body main .content .element *[data-class=share]:hover {
  transform: scale(0.95);
}
body main .content .element *[data-class=share]:hover .share-container {
  display: flex !important;
}
body main footer {
  width: 60%;
  background: #817de096;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1em;
  border-radius: 5px;
  margin: 0 auto 2em;
}
body main footer .head {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 0.4em;
  font-size: 1.4em;
  font-weight: bold;
  color: #410a78;
  width: 100%;
  border-bottom: 2px solid #410a78;
  padding: 0 0 0.4em 0;
}
body main footer .information {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #fff;
  gap: 1em;
  flex-direction: column;
  margin-top: 1em;
}
body main footer .information .text {
  width: 100%;
}
body main footer .information .text .label {
  font-weight: bold;
  color: #410a78;
}
body main footer .information .text .modo {
  margin-top: 1em;
  background: #410a78;
  padding: 0.5em;
  color: #fff;
  border-radius: 5px;
}
body [data-class=hidden] {
  display: none !important;
}

@media all and (max-width: 600px) {
  main header .element,
main header .information,
main footer,
main .content {
    width: 90% !important;
  }
  main header .element span.update,
main header .information span.update,
main footer span.update,
main .content span.update {
    transform: translateX(-25%) !important;
  }
  main header .element .footer span.share--tel,
main header .information .footer span.share--tel,
main footer .footer span.share--tel,
main .content .footer span.share--tel {
    display: flex !important;
  }
  main header .element img,
main header .information img,
main footer img,
main .content img {
    width: 100% !important;
  }
  main header .element .header,
main header .information .header,
main footer .header,
main .content .header {
    flex-direction: column !important;
  }
  main header .element .header .date,
main header .information .header .date,
main footer .header .date,
main .content .header .date {
    width: fit-content !important;
  }
}
.success {
  border: 2px solid #817de0 !important;
}

.scaleImg {
  position: absolute;
  transform: scale(1.4) !important;
  transition: all 1s !important;
}

/*# sourceMappingURL=main.css.map */
