body {
  background: var(--w);
  overflow-x: hidden;
  width: 100%;
}
body main {
  font-family: "Open Sans", sans-serif, Bahnschrift;
  font-weight: initial;
  height: auto;
  width: 100%;
  overflow-x: hidden;
}
body main header {
  height: auto;
  background: var(--w);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--w);
  z-index: 9999;
}
body main header .element {
  width: var(--width);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
  height: 10vh;
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
  gap: 1em;
}
body main header .element .search_bar {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1em;
  height: 100%;
}
body main header .element .search_bar label {
  height: 100%;
  width: 100%;
}
body main header .element .search_bar label input {
  width: 100%;
  padding: 0.5em;
  border-radius: 5px;
  outline: none;
  height: 100%;
  border: 2px solid var(--grey-border);
  background: var(--grey-container);
}
body main header .element .search_bar label input::placeholder {
  color: var(--grey-font);
}
body main header .element .search_bar .search_by_date {
  position: relative;
  height: 100%;
}
body main header .element .search_bar .search_by_date i {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-width: 3em;
  font-weight: bold;
  height: 100%;
  z-index: 999;
  cursor: pointer;
  padding: 0.5em;
  border-radius: 5px;
  outline: none;
  border: 2px solid var(--grey-border);
  background: var(--grey-container);
  color: var(--grey-font);
}
body main header .element .hamburger-menu {
  height: 100%;
  width: fit-content !important;
}
body main header .element .hamburger-menu a {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-width: 3em;
  font-weight: bold;
  height: 100%;
  z-index: 999;
  cursor: pointer;
  padding: 0.5em;
  border-radius: 5px;
  outline: none;
  border: 2px solid var(--main-color);
  background: var(--w);
  text-decoration: none;
  color: var(--main-color);
}
body main header .element .hamburger-menu a:active {
  color: var(--main-color);
}
body main .layer {
  background: var(--w);
  z-index: -1;
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100%;
  height: auto;
  background: var(--w);
  opacity: 0;
  transition: all 0.5s;
}
body main .layer .content {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: var(--width);
  height: auto;
  gap: 1em;
  margin: 1em auto;
}
body main .layer .content .leftDays,
body main .layer .content .moodOfTheDay,
body main .layer .content .chart,
body main .layer .content .status {
  width: 100%;
  background: var(--grey-container);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1em;
  border-radius: 10px;
  padding: 1em;
}
body main .layer .content .leftDays {
  flex-direction: column;
  gap: 0.4em;
}
body main .layer .content .leftDays .head {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 0.4em;
  font-size: 1.4em;
  font-weight: bold;
  color: #410a78;
}
body main .layer .content .moodOfTheDay {
  min-height: 50vh;
  gap: 1em;
}
body main .layer .content .moodOfTheDay .head {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 0.4em;
  font-size: 1.4em;
  font-weight: bold;
  color: #410a78;
}
body main .layer .content .moodOfTheDay p span {
  font-weight: bold;
  color: var(--main-color);
}
body main .layer .content .new {
  background: var(--grey-container);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1em;
  border-radius: 10px;
  background: var(--main-color) !important;
}
body main .layer .content .new .head {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 0.4em;
  font-size: 1.4em;
  font-weight: bold;
  color: #410a78;
  width: 100%;
  border-bottom: 2px solid #410a78;
  padding: 0 0 0.4em 0;
}
body main .layer .content .new .information {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: var(--w);
  gap: 1em;
  flex-direction: column;
  margin-top: 1em;
}
body main .layer .content .new .information .text {
  width: 100%;
}
body main .layer .content .new .information .text .label {
  font-weight: bold;
  color: #410a78;
}
body main .layer .content .new .information .text .modo {
  margin-top: 1em;
  background: #410a78;
  padding: 0.5em;
  color: var(--w);
  border-radius: 5px;
}
body main .layer .content .chart {
  gap: 1em;
}
body main .layer .content .chart .head {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 0.4em;
  font-size: 1.4em;
  font-weight: bold;
  color: #410a78;
}
body main .layer .content .chart .wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 1em;
}
body main .layer .content .chart .wrapper #container_chart {
  background: #e5e5e5;
  padding: 1em;
  border-radius: 5px;
  width: 100%;
  height: auto;
  position: relative;
}
body main .layer .content .chart .wrapper #container_chart p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: #460a78;
  font-weight: bold;
  text-align: center;
}
body main .layer .content .chart .wrapper #container_chart path {
  stroke-linecap: round;
}
body main .layer .content .chart .wrapper p span {
  color: var(--main-color);
  font-weight: bold;
  white-space: nowrap;
}
body main .layer .content .close {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  display: none;
  width: 2em;
  font-size: 1.6em;
  background: var(--grey-container);
  border-radius: 1000px;
  aspect-ratio: 1;
}
body main .layer .content .close i {
  color: #410a78 !important;
}
body main .content {
  min-height: 20vh;
  width: var(--width);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10vh auto 0 auto;
  overflow: hidden;
  transition: all 0.5s;
}
body main .content .search_wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 1em 0;
  border-bottom: 2px solid var(--main-color);
}
body main .content .search_wrapper .search_date,
body main .content .search_wrapper .search_text {
  width: 60%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}
body main .content .search_wrapper .search_date .search_header,
body main .content .search_wrapper .search_text .search_header {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
body main .content .search_wrapper .search_date .search_header i,
body main .content .search_wrapper .search_text .search_header i {
  padding-right: 0.5em;
  cursor: pointer;
}
body main .content .search_wrapper .search_text .search_text_content {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 0.5em;
}
body main .content .search_wrapper .search_text .search_text_content .element_find {
  width: 100%;
  background: #c9c9c9;
  padding: 0.5em;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}
body main .content .search_wrapper .search_date .search_date_content {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 0.4em;
  margin-top: 1em;
}
body main .content .search_wrapper .search_date .search_date_content .june,
body main .content .search_wrapper .search_date .search_date_content .july {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4em;
  width: 100%;
}
body main .content .search_wrapper .search_date .search_date_content .june .label,
body main .content .search_wrapper .search_date .search_date_content .july .label {
  color: var(--main-color);
}
body main .content .search_wrapper .search_date .search_date_content .june_days,
body main .content .search_wrapper .search_date .search_date_content .july_days {
  width: 100%;
  display: grid;
  gap: 0.4em;
  grid-template-columns: repeat(7, 1fr);
}
body main .content .search_wrapper .search_date .search_date_content .june_days .searchDay,
body main .content .search_wrapper .search_date .search_date_content .july_days .searchDay {
  opacity: 0.2;
  background: #c9c9c9;
}
body main .content .search_wrapper .search_date .search_date_content .june_days .searchDay.active_day,
body main .content .search_wrapper .search_date .search_date_content .july_days .searchDay.active_day {
  border: 1px solid var(--main-color);
  background: #9d9be0;
  cursor: pointer;
  opacity: 1 !important;
}
body main .content .element {
  width: 100%;
  height: auto;
  position: relative;
  padding: 1em 0;
  margin-bottom: 1em;
  border-top: 2px solid var(--main-color);
  border-radius: 0;
}
body main .content .element:nth-child(2) {
  border-top: 2px solid transparent;
}
body main .content .element .header {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 1em;
  gap: 0.8em;
}
body main .content .element .header .date {
  padding: 0.5em;
  border: 2px solid var(--main-color);
  background: var(--w);
  color: var(--main-color);
  font-weight: bold;
  border-radius: 5px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
body main .content .element .header .date p {
  width: 100%;
  white-space: nowrap;
}
body main .content .element .content-article .share_text .color {
  color: var(--main-color) !important;
  font-weight: bold !important;
}
body main .content .element .content-article p {
  text-align: justify;
}
body main .content .element .content-article .img {
  background: none;
  width: 100%;
  display: flex;
  min-height: 30vh;
  height: auto;
  border-radius: 5px;
  margin-top: 1em;
  position: relative;
}
body main .content .element .content-article .img img {
  border: 1px solid rgba(199, 197, 197, 0.51);
  top: 0;
  left: 0;
  transform: translate(0, 0) scale(1);
  width: 50%;
  height: auto;
  transition: all 1s !important;
  border-radius: 5px;
  max-height: 50vh;
  object-fit: cover;
}
body main .content .element .content-article .img img[data-img=full] {
  width: 100% !important;
}
body main .content .element .footer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: auto;
  margin-top: 1em;
}
body main .content .element .footer .like {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  width: fit-content;
  border-radius: 100px;
  gap: 0.5em;
  padding: 0;
}
body main .content .element .footer .like span {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: var(--w);
  border-radius: 1000px;
  padding: 0.5em 1em;
  border: 2px solid #c7c5c5;
  gap: 0.8em;
  width: fit-content;
}
body main .content .element .footer .like span i.fa-heart {
  color: #ff5c5c;
}
body main .content .element .footer .like span i.fa-thumbs-up {
  color: #4747d8;
}
body main .content .element .footer .like span i.fa-star {
  color: var(--main-color);
}
body main .content .element .footer .like span:first-child {
  aspect-ratio: 1 !important;
  width: 3em !important;
}
body main .content .element .footer .like span.share--tel {
  display: none;
}
body main .content .element .footer .comment-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
body main .content .element .footer .comment-wrapper .comment_not_posted {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  display: none;
  margin: 0.5em 0 0;
  padding: 1em;
  background: #f34343;
  border-radius: 5px;
  color: var(--w);
}
body main .content .element .footer .comment-wrapper .row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0.2em;
  background: var(--grey-container);
  border-radius: 8px;
}
body main .content .element .footer .comment-wrapper .row label {
  width: 100%;
}
body main .content .element .footer .comment-wrapper .row label input {
  padding: 0.5em 1em;
  background: none;
  border: 0;
  width: 100%;
  outline: none;
  border-radius: 0 !important;
}
body main .content .element .footer .comment-wrapper .row label input::placeholder {
  color: var(--grey-font);
}
body main .content .element .footer .comment-wrapper .comments {
  width: 100%;
  position: relative;
}
body main .content .element .footer .comment-wrapper .comments .comment-text {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1em;
  align-items: flex-start;
  margin-top: 0.5em;
  background: var(--w);
  border: 2px solid #989898;
  border-radius: 5px;
  padding: 1em;
  box-shadow: 0 2px 0 0 #989898;
}
body main .content .element .footer .comment-wrapper .comments .comment-text .user {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 1em;
  width: 4em;
  aspect-ratio: 1;
  background: #dddddd;
  border-radius: 1000px;
}
body main .content .element .footer .comment-wrapper .comments .comment-text .comment-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 1em;
  flex-direction: column;
  width: 100%;
}
body main .content .element .footer .comment-wrapper .comments .comment-text .comment-container p:not(.comment-date) {
  width: 100%;
}
body main .content .element .footer .comment-wrapper .comments .comment-text .comment-container .comment-date {
  font-weight: bold;
  width: 100%;
}
body main .content .element .footer .comment-wrapper .comments .comment-text.second-comment, body main .content .element .footer .comment-wrapper .comments .comment-text.third-comment {
  position: absolute;
  bottom: -10px;
  height: 50px;
  overflow: hidden;
  transform: scale(0.95);
  transition: transform 0.5s !important;
  left: 0;
  margin-top: 0 !important;
  width: 100%;
  z-index: -1;
}
body main .content .element .footer .comment-wrapper .comments .comment-text.second-comment.unstack, body main .content .element .footer .comment-wrapper .comments .comment-text.third-comment.unstack {
  position: relative;
  transform: scale(1) !important;
  margin-top: 0.5em !important;
  top: 0 !important;
  height: auto !important;
  overflow: initial !important;
}
body main .content .element .footer .comment-wrapper .comments .comment-text.second-comment.unstack .comment-container,
body main .content .element .footer .comment-wrapper .comments .comment-text.second-comment.unstack .user, body main .content .element .footer .comment-wrapper .comments .comment-text.third-comment.unstack .comment-container,
body main .content .element .footer .comment-wrapper .comments .comment-text.third-comment.unstack .user {
  opacity: 1 !important;
}
body main .content .element .footer .comment-wrapper .comments .comment-text.second-comment .comment-container,
body main .content .element .footer .comment-wrapper .comments .comment-text.second-comment .user, body main .content .element .footer .comment-wrapper .comments .comment-text.third-comment .comment-container,
body main .content .element .footer .comment-wrapper .comments .comment-text.third-comment .user {
  opacity: 0;
}
body main .content .element .footer .comment-wrapper .comments .comment-text.third-comment {
  bottom: -20px;
  transform: scale(0.9);
  z-index: -2;
}
body main .content .element .footer .comment-wrapper .header_comments {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 0.5em 0 0;
  justify-content: space-between;
  gap: 0.5em;
}
body main .content .element .footer .comment-wrapper .header_comments .number_of_element {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #000;
  padding: 0.5em;
  border-radius: 100px;
  background: var(--w);
  color: #8d8d8d !important;
  gap: 0.4em;
}
body main .content .element .footer .comment-wrapper .header_comments .expand {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #000;
  padding: 0.5em;
  border-radius: 100px;
  background: var(--w);
  width: fit-content;
  cursor: pointer;
  gap: 0.5em;
}
body main .content .element *[data-class=share] {
  position: relative !important;
  transition: all 0.2s !important;
}
body main .content .element *[data-class=share] .share-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  display: none;
  gap: 0.5em;
  background: var(--main-color);
  color: var(--w);
  width: fit-content;
  padding: 0.5em;
  border-radius: 100px;
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  cursor: pointer;
}
body main .content .element *[data-class=share]:hover {
  transform: scale(0.95);
}
body main .content .element *[data-class=share]:hover .share-container {
  display: flex !important;
}
body [data-class=hidden] {
  display: none !important;
}

@media (orientation: landscape) and (min-height: 800px) {
  header .element {
    height: 8vh !important;
  }
  header .element .search_bar,
header .element .hamburger-menu {
    height: 70% !important;
  }
}
@media all and (max-width: 600px) {
  main header .element,
main footer,
main .content {
    width: 90% !important;
  }
  main header .element .close,
main footer .close,
main .content .close {
    display: flex !important;
  }
  main header .element .search_wrapper .search_date,
main header .element .search_wrapper .search_text,
main footer .search_wrapper .search_date,
main footer .search_wrapper .search_text,
main .content .search_wrapper .search_date,
main .content .search_wrapper .search_text {
    width: 100% !important;
  }
  main header .element .search_bar,
main header .element .hamburger-menu,
main footer .search_bar,
main footer .hamburger-menu,
main .content .search_bar,
main .content .hamburger-menu {
    height: 90% !important;
    width: 100%;
  }
  main header .element .chart .wrapper,
main footer .chart .wrapper,
main .content .chart .wrapper {
    flex-direction: column !important;
  }
  main header .element span.update,
main footer span.update,
main .content span.update {
    transform: translateX(-25%) !important;
  }
  main header .element .footer span.share--tel,
main footer .footer span.share--tel,
main .content .footer span.share--tel {
    display: flex !important;
  }
  main header .element img,
main footer img,
main .content img {
    width: 100% !important;
  }
  main header .element .header,
main footer .header,
main .content .header {
    flex-direction: column !important;
  }
  main header .element .header .date,
main footer .header .date,
main .content .header .date {
    width: fit-content !important;
  }
}
.success {
  border: 2px solid var(--main-color) !important;
}

.scaleImg {
  position: absolute;
  transform: scale(1.4) !important;
  transition: all 1s !important;
}

.layer-visibility {
  z-index: 998 !important;
  transform: translateX(0) !important;
  opacity: 1 !important;
}

.article-visibility {
  height: 0 !important;
  opacity: 0 !important;
}

.show {
  display: flex !important;
}

.showGrid {
  display: grid !important;
}

.click_denied {
  opacity: 0.2;
  cursor: default !important;
}

.click_allowed {
  opacity: 1;
  cursor: pointer !important;
}

.container_confetti {
  position: absolute;
  transform: scale(0.1);
}

/*# sourceMappingURL=main.css.map */
