@mixin centerFlex{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
$bg : #fff;
$border : #817de0;
body{
    background: $bg;
    main{
        font-family: 'Open Sans', sans-serif, Bahnschrift;
        font-weight: initial;
        height: auto;
        width: 100%;

        header{
            height: 10vh;
            background: $bg;
            @include centerFlex;
            flex-direction: column;
            justify-content: flex-end;
            margin: 0 auto 0 auto;

            .element{
                width: 60%;
                height: 5vh;
                @include centerFlex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                margin: 0 auto 0 auto;
                color: $border;
            }
        }
        .content{
            min-height: 20vh;
            width: 60%;
            @include centerFlex;
            flex-direction: column;
            justify-content: flex-start;
            margin: 0 auto 0 auto;

            .element{
                width: 100%;
                height: auto;
                position: relative;
                padding: 1em 0;
                margin-bottom: 1em;
                border-top: 2px solid #817de0;
                border-radius: 0;

                .header{
                    @include centerFlex;
                    flex-direction: row;
                    align-items: stretch;
                    justify-content: space-between;
                    margin-bottom: 1em;
                    gap: 0.8em;

                    .date{
                        padding: 0.5em;
                        border: 2px solid $border;
                        background: $bg;
                        color: $border;
                        font-weight: bold;
                        border-radius: 5px;
                        height: fit-content;
                        @include centerFlex;

                        p{
                            width: 100%;
                            white-space: nowrap;
                        }
                    }
                }

                .share_text{
                    .color{
                        color:$border!important;
                        font-weight: bold!important;
                    }
                }
                p{text-align: justify}
                .img{
                    background: #c7c5c5;
                    width: 100%;
                    min-height: 30vh;
                    height: auto;
                    border-radius: 5px;
                    margin-top: 1em;
                    overflow: hidden;

                    img{
                        width: 100%;
                    }
                }
                .footer{
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                    height: auto;
                    margin-top: 1em;

                    .like{
                        display: flex;
                        flex-direction: row;
                        cursor: pointer;
                        width: fit-content;
                        border-radius: 100px;
                        gap: .5em;
                        padding: 0;

                        span{
                            display: flex;
                            justify-content: center;
                            align-content: center;
                            align-items: center;
                            background: #fff;
                            border-radius: 1000px;
                            padding: 0.5em;
                            border: 2px solid #c7c5c5;
                            gap: .8em;
                            width: fit-content;

                            i{
                                &.fa-heart{
                                    color: #ff5c5c;
                                }
                                &.fa-thumbs-up{
                                    color: #4747d8;
                                }
                                &.fa-star{
                                    color: $border;
                                }
                            }

                            &:first-child{
                                aspect-ratio: 1!important;
                                width: 3em!important;
                            }
                            &.share--tel{
                                display: none;
                            }
                        }
                    }
                    .comment-wrapper{
                        display: none!important;
                        position: relative;
                        @include centerFlex;
                        flex-direction: column;
                        width: 100%;
                        .row{
                            width: 100%;
                            @include centerFlex;
                            flex-direction: row;
                            padding: 0.2em;
                            background: #f4f4f4;
                            border-radius: 8px;
                            label{
                                width: 100%;
                                input{
                                    padding: .5em 1em;
                                    background: none;
                                    border: 0;
                                    width: 100%;
                                    outline: none;
                                    border-radius: 0!important;
                                }
                            }
                        }
                        .comments{
                            width: 100%;
                            //overflow: hidden;
                            position: relative;
                            //cursor: pointer;
                            .comment-text{
                                @include centerFlex;
                                flex-direction: column;
                                gap: .5em;
                                justify-content: space-between;
                                align-items: flex-end;
                                margin-top: .5em;
                                background: #f4f4f4;
                                border-radius: 5px;
                                padding: 1em;
                                box-shadow: 0 4px 0 0 #e1e1e1;

                                p:not(.comment-date){
                                    width: 100%;
                                }

                                &.second-comment,
                                &.third-comment{
                                    //box-shadow: 0 4px 4px 0 #e1e1e1;

                                    &.unstack{
                                        position: relative;
                                        transform: scale(1)!important;
                                        //box-shadow: none!important;
                                        margin-top: .5em!important;
                                        top: 0!important;
                                        height: auto!important;
                                        overflow: initial!important;
                                    }
                                    position: absolute;
                                    top: 3vh;
                                    height: 10vh;
                                    overflow: hidden;
                                    transform: scale(.95);
                                    transition: all .5s!important;
                                    left: 0;
                                    margin-top: 0!important;
                                    width: 100%;
                                    z-index: -1;
                                }
                                &.third-comment{
                                    //box-shadow: none!important;
                                    top: 5vh;
                                    transform: scale(.9);
                                    z-index: -2;
                                }
                            }
                        }
                        .expand{
                            @include centerFlex;
                            background: #817de0;
                            color: $bg;
                            cursor: pointer;
                            margin: 0.5em 0 auto auto;
                            padding: 0.5em;
                            gap: .5em;
                            border-radius: 100px;
                            width: fit-content;
                        }
                    }

                }

                *[data-class="share"]{
                    position: relative!important;
                    transition: all .2s!important;
                    .share-container{
                        @include centerFlex;
                        display: none;
                        gap: .5em;
                        background: $border;
                        color: $bg;
                        width: fit-content;
                        padding: 0.5em;
                        border-radius: 100px;
                        position: absolute;
                        top: -0.5em;
                        right: -0.5em;
                        cursor: pointer;
                    }
                    &:hover{
                        transform: scale(.95);
                        .share-container{
                            display: flex!important;
                        }
                    }
                }
            }
        }
        footer{
            height: 5vh;
            background: $bg;
            @include centerFlex;
            flex-direction: column;
            justify-content: flex-start;
            margin: 0 auto 0 auto;
        }
    }
    [data-class="hidden"]{
        display: none!important;
    }
}

@media all and (max-width: 600px){
    *:hover{
        background: none!important;
        transform: none!important;
    }
    main{
        header .element,
        .content{
            width: 90% !important;

            span.update{
                transform: translateX(-25%) !important;
            }

            .footer{
                span.share--tel{
                    display: flex!important;
                }
            }
            .second-comment{
                top: 1vh!important;
            }
            .third-comment{
                top: 2.5vh!important;
            }

            .header{
                flex-direction: column!important;
                .date{
                    width: fit-content!important;
                }
            }
        }
    }
}

.success{
    border: 2px solid $border!important;
}