@mixin centerFlex{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
$bg : #fff;
$border : #817de0;
$hamburger : #dddddd;
body{
    background: $bg;
    overflow-x: hidden;
    width: 100%;

    main{
        font-family: 'Open Sans', sans-serif, Bahnschrift;
        font-weight: initial;
        height: auto;
        width: 100%;
        overflow-x: hidden;

        header{
            height: auto;
            background: $bg;
            @include centerFlex;
            flex-direction: column;
            justify-content: flex-end;
            margin: 0 auto 0 auto;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background: $bg;
            z-index: 9999;

            @mixin header{
                width: 60%;
                @include centerFlex;
            }

            .element{
                @include header;
                justify-content: space-between;
                padding: 1em 0;
                height: 10vh;
                color: $border;
                border-bottom: 2px solid $border;

                #status{
                    z-index: 999;
                }

                .hamburger-menu {}
                a{
                    font-weight: bold;
                    color: #410a78;
                    z-index: 999;
                    position: relative;
                    font-size: 1.4em;

                    &:active{
                        color: #410a78;
                    }
                }
            }
        }
        .layer{
            background: $bg;
            z-index: -1;
            position: absolute;
            top: 10vh;
            left: 0;
            width: 100%;
            height: auto;
            background: $bg;
            opacity: 0;
            //transform: translateX(100%);
            //transform-origin: top right;
            transition: all .5s;

            .content{
                @include centerFlex;
                width: 60%;
                height: auto;
                gap: 1em;
                margin: 1em auto;

                @mixin el{
                    background: $hamburger;
                    @include centerFlex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    padding: 1em;
                    border-radius: 10px;
                }

                @mixin head{
                    @include centerFlex;
                    gap: 0.4em;
                    font-size: 1.4em;
                    font-weight: bold;
                    color: #410a78;
                }
                .leftDays,
                .moodOfTheDay,
                .chart{
                    width: 100%;
                    @include el;
                    padding: 1em;
                }
                .leftDays{
                    flex-direction: column;
                    gap: .4em;
                    .head{
                        @include head;
                    }
                }
                .moodOfTheDay{
                    //display: none!important;
                    min-height: 50vh;
                    gap: 1em;

                    .head{
                        @include head;
                    }
                }
                .new{
                    @include el;
                    background: $border!important;
                    .head{
                        @include centerFlex;
                        justify-content: flex-start;
                        gap: .4em;
                        font-size: 1.4em;
                        font-weight: bold;
                        color: #410a78;
                        width: 100%;
                        border-bottom: 2px solid #410a78;
                        padding: 0 0 0.4em 0;
                    }
                    .information{
                        @include centerFlex;
                        color: $bg;
                        gap: 1em;
                        flex-direction: column;
                        margin-top: 1em;
                        .text{
                            width: 100%;
                            .label{
                                font-weight: bold;
                                color: #410a78;
                            }
                            .modo{
                                margin-top: 1em;
                                background: #410a78;
                                padding: .5em;
                                color: $bg;
                                border-radius: 5px;
                            }
                        }
                    }
                }
                .chart{
                    gap: 1em;
                    .head{
                        @include head;
                    }
                    .wrapper{
                        @include centerFlex;
                        flex-direction: row;
                        width: 100%;
                        gap: 1em;

                        #container_chart{
                            width: 80%;
                            height: auto;
                            position: relative;

                            p{
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                font-size: 2em;
                                color: #460a78;
                                font-weight: bold;
                            }

                            path{stroke-linecap: round}
                        }
                        p{
                            span{
                                color: $border;
                                font-weight: bold;
                                white-space: nowrap;
                            }
                        }
                    }

                }
                .close{
                    @include centerFlex;
                    display: none;
                    width: 2em;
                    font-size: 1.6em;
                    background: $hamburger;
                    border-radius: 1000px;
                    aspect-ratio: 1;
                    i{
                        color: #410a78!important;
                    }
                }
            }
        }
        .content{
            min-height: 20vh;
            width: 60%;
            @include centerFlex;
            flex-direction: column;
            justify-content: flex-start;
            margin: 10vh auto 0 auto;
            overflow: hidden;
            transition: all .5s;

            .element{
                width: 100%;
                height: auto;
                position: relative;
                padding: 1em 0;
                margin-bottom: 1em;
                border-top: 2px solid #817de0;
                border-radius: 0;

                &:first-child{
                    border-top: 2px solid transparent;
                }
                .header{
                    @include centerFlex;
                    flex-direction: row;
                    align-items: stretch;
                    justify-content: space-between;
                    margin-bottom: 1em;
                    gap: 0.8em;

                    .date{
                        padding: 0.5em;
                        border: 2px solid $border;
                        background: $bg;
                        color: $border;
                        font-weight: bold;
                        border-radius: 5px;
                        height: fit-content;
                        @include centerFlex;

                        p{
                            width: 100%;
                            white-space: nowrap;
                        }
                    }
                }

                .share_text{
                    .color{
                        color:$border!important;
                        font-weight: bold!important;
                    }
                    .dot{
                        list-style: initial;
                        color: red;
                    }
                }
                p{text-align: justify}
                .img{
                    background: none;
                    width: 100%;
                    display: flex;
                    min-height: 30vh;
                    height: auto;
                    border-radius: 5px;
                    margin-top: 1em;
                    //overflow: hidden;
                    position: relative;

                    img{
                        //cursor: zoom-in;
                        border: 1px solid rgba(199, 197, 197, 0.51);
                        top: 0;
                        left: 0;
                        transform : translate(0, 0) scale(1);
                        width: 50%;
                        height: auto;
                        transition: all 1s!important;
                        border-radius: 5px;
                        max-height: 50vh;
                        object-fit: cover;

                        &[data-img="full"]{
                            width: 100% !important;
                        }
                    }
                }
                .footer{
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                    height: auto;
                    margin-top: 1em;

                    .like{
                        display: flex;
                        flex-direction: row;
                        cursor: pointer;
                        width: fit-content;
                        border-radius: 100px;
                        gap: .5em;
                        padding: 0;

                        span{
                            display: flex;
                            justify-content: center;
                            align-content: center;
                            align-items: center;
                            background: #fff;
                            border-radius: 1000px;
                            padding: 0.5em;
                            border: 2px solid #c7c5c5;
                            gap: .8em;
                            width: fit-content;

                            i{
                                &.fa-heart{
                                    color: #ff5c5c;
                                }
                                &.fa-thumbs-up{
                                    color: #4747d8;
                                }
                                &.fa-star{
                                    color: $border;
                                }
                            }

                            &:first-child{
                                aspect-ratio: 1!important;
                                width: 3em!important;
                            }
                            &.share--tel{
                                display: none;
                            }
                        }
                    }
                    .comment-wrapper{
                        //display: none!important;
                        position: relative;
                        @include centerFlex;
                        flex-direction: column;
                        width: 100%;
                        .row{
                            width: 100%;
                            @include centerFlex;
                            flex-direction: row;
                            padding: 0.2em;
                            background: #dddddd;
                            border-radius: 8px;
                            label{
                                width: 100%;
                                input{
                                    padding: .5em 1em;
                                    background: none;
                                    border: 0;
                                    width: 100%;
                                    outline: none;
                                    border-radius: 0!important;
                                    &::placeholder{
                                        color: #410a78;
                                    }
                                }
                            }
                        }
                        .comments{
                            width: 100%;
                            //overflow: hidden;
                            position: relative;
                            //cursor: pointer;
                            .comment-text{
                                @include centerFlex;
                                flex-direction: column;
                                gap: .5em;
                                justify-content: space-between;
                                align-items: flex-end;
                                margin-top: .5em;
                                background: #dddddd;
                                border-radius: 5px;
                                padding: 1em;
                                box-shadow: 0 4px 0 0 #989898;

                                p:not(.comment-date){
                                    width: 100%;
                                }
                                .comment-date{
                                    font-weight: bold;
                                }

                                &.second-comment,
                                &.third-comment{
                                    //box-shadow: 0 4px 4px 0 #e1e1e1;

                                    &.unstack{
                                        position: relative;
                                        transform: scale(1)!important;
                                        //box-shadow: none!important;
                                        margin-top: .5em!important;
                                        color: initial!important;
                                        top: 0!important;
                                        height: auto!important;
                                        overflow: initial!important;
                                    }
                                    position: absolute;
                                    bottom: -10px;
                                    height: 50px;
                                    color: #dddddd;
                                    overflow: hidden;
                                    transform: scale(.95);
                                    transition: transform .5s!important;
                                    left: 0;
                                    margin-top: 0!important;
                                    width: 100%;
                                    z-index: -1;
                                }
                                &.third-comment{
                                    //box-shadow: none!important;
                                    bottom: -20px;
                                    transform: scale(.9);
                                    z-index: -2;
                                }
                            }
                        }
                        .header_comments{
                            @include centerFlex;
                            flex-direction: row;
                            width: 100%;
                            padding: 0.5em 0 0;
                            justify-content: flex-end;
                            gap: .5em;
                            @mixin container{
                                @include centerFlex;
                                color: $bg;
                                padding: 0.5em;
                                border-radius: 100px;
                            }
                            .number_of_element{
                                @include container;
                                background: #817de096;
                                gap: .4em;
                                //width: 2.5em;
                            }
                            .expand{
                                @include container;
                                background: #817de0;
                                width: fit-content;
                                cursor: pointer;
                                gap: .5em;
                            }
                        }
                    }

                }

                *[data-class="share"]{
                    position: relative!important;
                    transition: all .2s!important;
                    .share-container{
                        @include centerFlex;
                        display: none;
                        gap: .5em;
                        background: $border;
                        color: $bg;
                        width: fit-content;
                        padding: 0.5em;
                        border-radius: 100px;
                        position: absolute;
                        top: -0.5em;
                        right: -0.5em;
                        cursor: pointer;
                    }
                    &:hover{
                        transform: scale(.95);
                        .share-container{
                            display: flex!important;
                        }
                    }
                }
            }
        }
    }
    [data-class="hidden"]{
        display: none!important;
    }
}

@media all and (max-width: 600px){
    main{
        header .element,
        footer,
        .content{
            width: 90% !important;
            .close{display: flex!important;}

            .chart{
                .wrapper{
                    flex-direction: column!important;
                }
            }
            span.update{
                transform: translateX(-25%) !important;
            }

            .footer{
                span.share--tel{
                    display: flex!important;
                }
            }
            img{
                width: 100% !important;
            }

            .header{
                flex-direction: column!important;
                .date{
                    width: fit-content!important;
                }
            }
        }
    }
}

.success{
    border: 2px solid $border!important;
}

.scaleImg{
    //cursor: zoom-out!important;
    position: absolute;
    //translate(-50%, -50%)
    transform:  scale(1.4) !important;
    transition: all 1s!important;
}
.layer-visibility{
    z-index: 998!important;
    transform: translateX(0)!important;
    opacity: 1!important;
}
.article-visibility{
    height: 0!important;
    opacity: 0!important;
}